header {
    height: 80px;
    padding: 0;
    background-color: #1a2732;
}


#logo  {
    min-width: auto;
    height: 60px;
    padding-right: 20px;
    width: unset;
}

li.nav-item a {
    background-color: transparent;
    border: 2px solid #6c757d;
    color: #6c757d;
    font-weight: 600;
}

li.nav-item a:hover {
    background-color: #90ce00;
    border: 2px solid #70ac00;
    color: #1a2732;
}

#main_navigation {
    flex-wrap: nowrap;
    max-height: 80px;
    max-width: 100%;
    align-items: center;
    height: 100%;
}