{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='login.css') }}">
{% endblock %}

{% block content %}
<div class="container-sm d-flex flex-column justify-content-center mx-xl mt-5">
    <h1>Admin area</h1>
    <form action="" method="post" novalidate>
        <div class="d-flex flex-column justify-content-center">
            {{ form.hidden_tag() }}
            <div class="form-floating mt-3">
                {{ form.username(size=32, class_="form-control") }}
                {{ form.username.label }}
            </div>
            <div class="form-floating mt-3">
                {{ form.password(size=32, class_="form-control") }}
                {{ form.password.label }}
            </div>
            <div class="d-inline-flex justify-content-between mt-3">
                <span class="form-check form-switch">{{ form.remember_me(class_="form-check-input") }} {{ form.remember_me.label }}</span>
                <span>{{ form.submit(class_="btn btn-submit") }}</span>
            </div>
        </div>
    </form>
</div>
{% endblock %}